
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <link href="/Content/dist/images/logo.svg" rel="shortcut icon">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>@ViewData["Title"] | Phone Book</title>
    <!-- BEGIN: CSS Assets-->
    <link rel="stylesheet" href="/Content/dist/css/app.css" />
    <link href="~/Content/dist/css/toastr.min.css" rel="stylesheet" />
    <!-- END: CSS Assets-->
    <style>
        .popup-radius {
            border-radius: 20px;
            /*overflow: hidden;*/
        }

            .popup-radius .dxpc-header {
                border-top-left-radius: 18px;
                border-top-right-radius: 18px;
                /*background:transparent !important;*/
            }

        .dxmodalSys > .dxpclW {
            margin: 25px auto 0 auto !important;
        }

        table {
            border-radius: 5px;
            overflow: hidden;
        }

        .button-radius {
            border-radius: 50px;
        }

        .dxgvControl_Office365 .dxgvTable_Office365 .dxgvFocusedRow_Office365, .dxgvControl_Office365 .dxgvTable_Office365 .dxgvFocusedRow_Office365.dxgvDataRowHover_Office365 {
            background-color: rgb(138 166 176);
        }

        .dxctToolbar_Office365 ul li {
            border-radius: 5px;
        }

        @@media only screen and (max-width: 480px) {
            .dxmodalSys > .dxpclW {
                max-width: 100% !important;
            }
        }
    </style>
    <script src="~/lib/jquery/dist/jquery.js"></script> 
    @RenderSection("style", false)
</head>

<body class="py-5 md:py-0">
    <!-- BEGIN: Mobile Menu -->
    <div class="mobile-menu md:hidden">
        <div class="mobile-menu-bar">
            <a href="" class="flex mr-auto">
                <img alt="Phone Book" class="w-6" src="/Content/dist/images/logo.svg">
            </a>
            <a href="javascript:;" class="mobile-menu-toggler"> <i data-lucide="bar-chart-2" class="w-8 h-8 text-white transform -rotate-90"></i> </a>
        </div>
        <div class="scrollable">
            <a href="javascript:;" class="mobile-menu-toggler"> <i data-lucide="x-circle" class="w-8 h-8 text-white transform -rotate-90"></i> </a>
            <ul class="scrollable__content py-2">
                <li>
                    <a asp-action="Index" asp-controller="Persons" class="menu">
                        <div class="menu__icon"> <i data-lucide="inbox"></i> </div>
                        <div class="menu__title"> Telefon Rehberi </div>
                    </a>
                </li>
                <li>
                    <a asp-action="Index" asp-controller="Reports" class="menu">
                        <div class="menu__icon"> <i data-lucide="printer"></i> </div>
                        <div class="menu__title"> Raporlar </div>
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <!-- END: Mobile Menu -->
    <!-- BEGIN: Top Bar -->
    <div class="top-bar-boxed h-[70px] md:h-[65px] z-[51] border-b border-white/[0.08] mt-12 md:mt-0 -mx-3 sm:-mx-8 md:-mx-0 px-3 md:border-b-0 relative md:fixed md:inset-x-0 md:top-0 sm:px-8 md:px-10 md:pt-10 md:bg-gradient-to-b md:from-slate-100 md:to-transparent dark:md:from-darkmode-700">
        <div class="h-full flex items-center">
            <!-- BEGIN: Logo -->
            <a asp-action="Index" asp-area="" asp-controller="home" class="logo -intro-x hidden md:flex xl:w-[180px] block">
                <img alt="Phone Book" class="logo__image w-6" src="/Content/dist/images/logo.svg">
                <span class="logo__text text-white text-lg ml-3"> Phone Book</span>
            </a>
            <!-- END: Logo -->
            <!-- BEGIN: Breadcrumb -->
            <nav aria-label="breadcrumb" class="-intro-x h-[45px] mr-auto">
                <ol class="breadcrumb breadcrumb-light">
                    <li class="breadcrumb-item"><a href="@Url.Action("Index","Home")">Phone Book</a></li>
                    <li class="breadcrumb-item active" aria-current="page">@ViewBag.Title</li>
                </ol>
            </nav>
            <!-- END: Breadcrumb -->
           @if(User.Identity.IsAuthenticated)
            {
                @await Component.InvokeAsync("UserMenu")             
            }
        </div>
    </div>
    <!-- END: Top Bar -->
    <div class="flex overflow-hidden">
        <!-- BEGIN: Side Menu -->
        <nav class="side-nav">
            <ul>
                <li>
                    <a asp-action="Index" asp-controller="Persons" class="side-menu @ViewBag.MenuPersonActive">
                        <div class="side-menu__icon"> <i data-lucide="users"></i> </div>
                        <div class="side-menu__title"> Telefon Rehberi </div>
                    </a>
                </li>               
                <li>
                    <a asp-action="Index" asp-controller="Reports" class="side-menu @ViewBag.MenuReportActive">
                        <div class="side-menu__icon"> <i data-lucide="printer"></i> </div>
                        <div class="side-menu__title"> Raporlar </div>
                    </a>
                </li>                              
            </ul>
        </nav>
        <!-- END: Side Menu -->
        @RenderBody()
    </div>   
    <!-- BEGIN: JS Assets-->
    <script src="/Content/dist/js/app.js"></script>
    <!-- END: JS Assets-->
    <script src="~/Content/dist/js/toastr.min.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/Content/dist/js/ajax.js"></script>
    @RenderSection("scripts", false)
</body>
</html>